@charset "UTF-8";
.FlexBox {
  display: flex;
  align-items: center;
  -moz-text-align-last: justify;
       text-align-last: justify;
}

#SilicaGelBox {
  text-align: center;
  position: relative;
  top: 100px;
  background: url(images/SilicaGel.jpg) top left/contain;
  height: calc(100vh-300px);
  height: 300px;
}
#SilicaGelBox header {
  width: 100%;
}
#SilicaGelBox__title {
  background-color: #555;
  color: #ddd;
  color: orange;
  transition: 1s all;
  width: 100%;
}
#SilicaGelBox__title span:first-of-type {
  color: rgba(255, 166, 0, 0.2);
}
#SilicaGelBox__title span:last-of-type {
  color: rgb(255, 166, 0);
}
#SilicaGelBox__title:hover {
  color: #e62837;
}
#SilicaGelBox__txt {
  font-style: italic;
  font-weight: bold;
  font-size: 1em;
  font-family: "나눔고딕";
  color: #555;
  transition: 1s all;
  background-color: rgba(85, 85, 85, 0.1882352941);
}
#SilicaGelBox__txt:hover {
  font-style: bold;
  font-weight: normal;
  font-size: 1em;
  font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  #SilicaGelBox__txt {
    font-style: normal;
  }
}