// css 초기화
* {
  font-family: "TTCrownMychewR";
  margin: 0;
  padding: 0;
  color: #000;
  list-style: none;
  text-decoration: none;
}

$c-steelblue: steelblue;
$c-fff: #fff;
$c-ddd: #ddd;
$c-333: #333;
$c_333: #555; // 변수 선언 시 -, _ 동일하게 취급하기 때문에 $c-333값이 #555으로 갱신되었음
$c-e62837: #e62837;
$ts: 1s all;
// $fs-it: italic;

$position: top;
$name: SilicaGel;
$height: 300px;

$size: 100%;
$mb: 50px;

// 폰트 속성을 한 줄에 기입할 수 있는 믹스인 생성
@mixin font(
  // $color: #000,
  $style: normal,
  $weight: normal,
  $size: 1em,
  $family: sans-serif
) {
  font: {
    // color: $color;
    style: $style;
    weight: $weight;
    size: $size;
    family: $family;
  }
}

// 글자색과 배경색을 한 줄에 기입할 수 있는 믹스인 생성
@mixin set-color($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

// 배경이미지의 이름만 기입하여 쓰도록하는 믹스인 생성
@mixin bg-img($name, $path: "images/", $format: "jpg") {
  background: url("#{$path}SilicaGel#{$name}.#{$format}") top left / 33.333%;
}

// 버튼 스타일을 지정할 수 있는 믹스인 생성 - @if문 포함
@mixin bt-style($size, $radius: 0, $bg) {
  width: $size;
  height: $size;
  background-color: $bg;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

.FlexBox {
  display: flex;
  align-items: center;
  text-align-last: justify;
  flex-direction: column;
}

header {
  width: $size;
}

#SilicaGelBox {
  text-align: center;
  position: relative;
  #{$position}: 100px;
  background: url(images/#{$name}.jpg) top left / 50%;
  // 백그라운드 속성을 한번에 다 적을 때 사이즈는 position요소와 함께, / 이후에 적어야한다.
  // background-image: center/contain url("<images/#{$name}.jpg>");
  // background-size: contain;
  height: calc(100vh-#{$height});
  height: #{$height};

  &__title {
    // background-color: $c-333;
    // color: $c-ddd;
    // $c-ddd: orange !default;
    color: orange;
    @include set-color($c-333, $c-ddd);
    // transition: $ts;
    // $ts: 1s all !global;
    transition: $ts;
    width: $size;
    margin-bottom: $mb;

    span:first-of-type {
      color: rgba(255, 166, 0, 0.2);
    }
    span:nth-of-type(2) {
      color: rgba(255, 166, 0, 0.5);
    }
    span:last-of-type {
      color: rgba(255, 166, 0, 0.9);
    }

    &:hover {
      color: $c-e62837;
    }
  }

  &__txt {
    // $fs-it: italic;
    // font-style: fs-it;
    $font-values: italic, bold, 2em, "나눔고딕";
    @include font($font-values...);
    color: $c-333;
    transition: $ts;
    // height: #{$size};
    width: #{$size};
    background-color: #55555530;
    margin-bottom: $mb;

    &:hover {
      $font-values: bold;
      @include font($font-values...);
    }

    @media screen and (max-width: 768px) {
      font-style: normal;
    }
  }

  &__txt2 {
    margin-bottom: $mb;
    @include set-color(orange, #999);
    padding: 10px;
  }

  .bg-list {
    li {
      width: 32.333%;
      height: 200px;
      display: inline-block;

      &:first-child {
        // 기본값이 없는 인자는 필수값 취급되므로, bg-img();처럼 사용하면 에러 발생.
        // 믹스인 생성 시에 이미 셋팅된 이름에서 바꿀 내용이 없다면 ""이렇게만 적으면 됨.
        @include bg-img("");
      }
      &:nth-child(2) {
        @include bg-img("2");
      }
      &:last-child {
        @include bg-img("3", $format: "png");
      }
    }
  }

  .btn-list {
    li {
      display: inline-block;
      text-align: center;
      button {
        &:first-child {
          @include bt-style(100px, "", orange);
        }
        &:last-child {
          @include bt-style(100px, $radius: 50%, orangered);
        }
      }
    }
  }
}
